<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PensjonatContext" connectionString="metadata=res://*/PensjonatModel.csdl|res://*/PensjonatModel.ssdl|res://*/PensjonatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAWID-KOMPUTER\PENSJONAT_BAZA;initial catalog=DBPensjon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>