<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PensjonatContext" connectionString="metadata=res://*/PensjonatModel.csdl|res://*/PensjonatModel.ssdl|res://*/PensjonatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DBPensjon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="PensjonatContext" connectionString="metadata=res://*/PensjonatModel.csdl|res://*/PensjonatModel.ssdl|res://*/PensjonatModel.msl;Provider=System.Data.SqlClient;Provider connection string="Data Source=.\SqlExpress;Initial Catalog=DBPensjon;User ID=Sa;Password=Password1234;MultipleActiveResultSets=True"" providerName="System.Data.EntityClient" /> -->
</connectionStrings>
</configuration>