<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PensjonatContext" connectionString="metadata=res://*/PensjonatModel.csdl|res://*/PensjonatModel.ssdl|res://*/PensjonatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Laptop\SqlExpress;Initial Catalog=DBPensjon;User ID=sa;Password=MKPassword1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>